body
{
    background-color: darkslategrey;
}
nav{
    background-color: lightseagreen;
    color: rgb(224, 44, 44);
}
header
{
	background-color: bisque;
	text-align: center;
	display: flex;
	flex-direction: column;
}
